.main {
    background-color:  hsl(0, 0%, 20%);
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    

}

.buttons {
    display: flex;
    flex-direction: column;
    t
}


.main div img{
    border-radius: 50%;
}